* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header {
  width:100%;
  padding:30px 20px;
  background-color:#ff00ff;
  display:flex;
  justify-content:flex-end;
}

header > :first-child {
  margin-right:auto;
}

header > div {
  background-color:#ffccff;
  flex-basis:140px;
  height:70px;
  margin:0 10px;
}

main {
  display:flex;
  justify-content:center;
}

.left-box {
  width:300px;
  background-color:#ccffcc;
}

.right-box {
  background-color:#008000;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  max-width:700px;
  flex-grow:1;

}

.right-box > div {
  background-color:#ffff00;
  flex-basis:200px;
  height:130px;
  margin:10px;
}

footer {
  background-color:#0000ff;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:20px;
}

footer > div {
  background-color:#00ffff;
  flex-basis:45%;
  max-width:600px;
  height:40px;
  margin:10px;
}